@{
    ViewBag.Title = "Guessing Game";
}

<h2>Guessing Game</h2>

<p>@ViewBag.Message</p>

<form asp-action="/GuessingGame" method="post">
    <div class ="form-group">
     <label for="guess">Enter your guess:</label>
    <input type="number" id="guess" name="guess" /></div>
    <button type="submit" class="Submit Guess" >Submit</button>
</form>

@if (ViewBag.GuessCount != null)
{
    <p> Number of Guess:@ViewBag.GuessCount</p>
}


