@{
    ViewData["Title"] = "Projects";
}


<div class="text-center">
<h2>My Projects</h2>
<ul>
    <li>
        <a href="https://github.com/groupname/WebApplication1">Project 1</a> - Creating a MVC Application.
    </li>
    <li>
        <a href="https://github.com/groupname/Hangman">Project 2</a> - Creating a game called Hangman..
    </li>
</ul>
</div>