<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - My ASP.NET Core App</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="logo">
            <h1>My MVC Application</h1>
        </div>
        <nav>
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Home" asp-action="About">About</a></li>
                <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
                <li><a asp-controller="Home" asp-action="Projects">Projects</a></li>
                <li><a asp-controller="Doctor" asp-action="CheckTemperature">CheckTemperature</a></li>
                <li><a asp-controller="Shared" asp-action="GuessingGame">GuessingGame</a></li>
                
            </ul>
        </nav>
    </header>
    <div class="container">
        @RenderBody()
    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year - Your Name</p>
    </footer>
</body>
</html>